* {
    padding: 0;
    margin: 0;
    background-color: darkslateblue;
}

.counter-app {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: serif;

}

.app-logo-contenedor {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.app-logo{
    height: 200px;
}